body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

/* HEADER */

header {
  padding-top: 5%;
  padding-bottom: 1%;
  background-color: #4ea0ff;
  background-image: url("../img/pattern.png");
}

.container {
  width: 75%;
  margin: auto;
}

header .container img {
  width: 19%;
}

/* MAIN */

.title {
  font-size: 50px;
  margin-bottom: 2px;
}

.subtitle {
  font-size: 25px;
}

.subtitle2 {
  font-size: 15px;
  margin-bottom: 25px;
}

.grey-text {
  color: #808080;
}

.cyan-text {
  color: lightskyblue;
}

/* TIM PICS */

.tim {
  height: 480px;
}

.photo-subtitle {
  font-size: 15px;
  font-weight: 700;
}

.highlight {
  background-color: yellow;
}
