/* GENERAL RULES FOR BODY AND BG  */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-image: url(../img/bak-tim-berners-lee.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
}

/* HEADER */

header { 
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: rgba(0, 1, 34, 0.856);
  background-image: url("../img/pattern.png");
}

.container1 {
  width: 75%;
  margin: auto;
}

header .container1 img {
  width: 19%;
}

/* MAIN */

.container2 {
  padding: 150px 60px 40px;
  background-color: rgba(24, 24, 24, 0.767);
  width: 75%;
  margin: auto;
}

.title {
  font-size: 50px;
  margin-bottom: 2px;
}

.subtitle {
  font-size: 25px;
}

.subtitle2 {
  font-size: 15px;
  margin-bottom: 25px;
}

.grey-text {
  color: #e0e0e0;
}

.cyan-text {
  color: lightskyblue;
}

/* TIM PICS */

.tim {
  height: 480px;
}

.photo-subtitle {
  font-size: 15px;
  font-weight: 700;
}

.highlight {
  background-color: rgba(255, 0, 191, 0.288);
}

/* LIST */

ul {
  list-style-position: inside;
  padding-left: 0;
}

/* TABLE */

.table {
  width: 100%;
  margin-top: 40px;
  border: none;
}

.table .table-head {
  font-weight: 700;
  color: white;
  background-color: rgba(8, 0, 119, 0.404);
}

.table .cyan {
  background-color: rgba(96, 106, 201, 0.473);
}

.table .td1 {
  width: 25%;
}

.table .td2 {
  width: 25%;
}

.table .td3 {
  width: 50%;
}

.lastp {
  margin-bottom: 40px;
}

/* EXTERNAL LINKS */

.lastsubtitle {
  font-weight: 700;
  margin-bottom: 20px;
}

.imgdown {
  background-size: cover;
  width: 300px;
  height: 200px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

.img1 {
  background-image: url(../img/monitor.jpg);
  margin-bottom: 20px;
}

.img2 {
  background-image: url(../img/graph.jpg);
}

.link {
  text-decoration: none;
}

.linko {
  width: 300px;
}

/* HOVER */

.imgdown:hover{
  opacity: 0.7;
  transform: scale(1.1);
}
  

