body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

/* HEADER */

header {
  padding-top: 5%;
  padding-bottom: 1%;
  background-color: #4ea0ff;
  background-image: url("../img/pattern.png");
}

.container {
  width: 75%;
  margin: auto;
}

header .container img {
  width: 19%;
}

/* MAIN */

.title {
  font-size: 50px;
  margin-bottom: 2px;
}

.subtitle {
  font-size: 25px;
}

.subtitle2 {
  font-size: 15px;
  margin-bottom: 25px;
}

.grey-text {
  color: #808080;
}

.cyan-text {
  color: lightskyblue;
}

/* TIM PICS */

.tim {
  height: 480px;
}

.photo-subtitle {
  font-size: 15px;
  font-weight: 700;
}

.highlight {
  background-color: yellow;
}

/* TABLE */

.table {
  width: 100%;
  margin-top: 40px;
  border: none;
}

.table .table-head {
  font-weight: 700;
  color: white;
  background-color: #32a9e5;
}

.table .cyan {
  background-color: #b1e5f2;
}

.table .td1 {
  width: 25%;
}

.table .td2 {
  width: 25%;
}

.table .td3 {
  width: 50%;
}

.lastp {
  margin-bottom: 40px;
}

/* EXTERNAL LINKS */

.lastsubtitle {
  font-weight: 700;
  margin-bottom: 20px;
}

.imgdown {
  background-size: cover;
  width: 300px;
  height: 200px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

.img1 {
  background-image: url(../img/monitor.jpg);
  margin-bottom: 20px;
}

.img2 {
  background-image: url(../img/graph.jpg);
}

.link {
  text-decoration: none;
}

.linko {
  width: 300px;
}
